@model prjWebsiteB.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

@section Styles
{
    <link href="~/css/productstylesheet.css" rel="stylesheet" />
    <style>
        .content {
            margin: 0 auto;
            align-items: center;
            width: 60%;
        }
    </style>
}

<div class="topic">
    <h1 class="text-orange">商品明細</h1>
</div>

<hr />
<div class="container">
    <dl class="row content">
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FProductId)
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FCategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FCategoryName)
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FProductName)
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FProductPrice)
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FIsOnSale)
        </dt>
        <dd class="col-sm-10">
            @(Model.FIsOnSale.GetValueOrDefault() ? "上架" : "下架")
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FProductDescription)
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FProductDateAdd)
        </dt>
        <dd class="col-sm-10">
            @Model.FProductDateAdd?.ToString("yyyy/MM/dd HH:mm:ss")
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FProductUpdated)
        </dt>
        <dd class="col-sm-10">
            @Model.FProductDateAdd?.ToString("yyyy/MM/dd HH:mm:ss")
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FStock)
        </dd>
        <dt class="col-sm-2 text-content">
            @Html.DisplayNameFor(model => model.FImage)
        </dt>
        <dd class="col-sm-10">
            <div id="imagesContainer" class="image-container"></div>
        </dd>
        <hr />
        <div>
            <a class="btn btn-orange" asp-action="Index"><i class="fa-solid fa-left-long"></i></a>
            <a class="btn btn-orange" asp-action="Edit" asp-route-id="@Model?.FProductId">修改商品</a>  
        </div>
    </dl>
</div>


@section Scripts {
    <script>
        var baseAddress = window.location.origin;

        $(document).ready(function() {
            var p = encodeURI('@Model.FProductId');
            $.ajax({
                url: `${baseAddress}/TProducts/GetPictures/${p}`,
                type: 'GET',
                dataType: 'json' // 確保 jQuery 期望接收 JSON 數據
            })
            .done(data => {
                // 清空圖片容器
                $('#imagesContainer').empty();

                var validImageCount = 0;

                for (var i = 0; i < 3; i++) {
                    // 檢查是否有返回圖片數據
                    if (data && data.length > i) {
                        // 創建並顯示圖片
                        var img = $('<img />', {
                            src: 'data:image/jpeg;base64,' + data[i],
                            class: 'img-thumbnail',
                            alt: 'Product Image',
                            width: '150px' // 設置圖片寬度
                        });
                        $('#imagesContainer').append(img);
                        validImageCount++;
                    }
                }

                // 如果沒有任何有效圖片，顯示提示信息
                if (validImageCount === 0) {
                    $('#imagesContainer').text("尚無商品圖片!");
                }
            })
            .fail(err => {
                alert('Failed to load images');
            });
        });
    </script>

}

