@model prjWebsiteB.Models.TPost
<div class="modal-header">
    <h5 class="modal-title" id="addPostModalLabel">內容</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    @Html.AntiForgeryToken()
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TPostImages.First().FImage)
        </dt>
        <dd class="col-sm-9">
            <partial name="_ShowPicture2Partial" model="@Model" />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FTitle)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FTitle)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FContent)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FContent)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FCreatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FCreatedAt)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FUpdatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FUpdatedAt)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FIsPublic)
        </dt>
        <dd class="col-sm-9">
            @(Model.FIsPublic.HasValue ? (Model.FIsPublic.Value ? "公開" : "私人") : "")
        </dd>
    </dl>
</div>
