@model prjWebsiteB.Models.TPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUpdatedAt)
        </dd>
        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.FIsPublic)</dt>
        <dd class="col-sm-10">
            <select asp-for="FCategoryId" class="form-control" asp-items="@ViewBag.IsPublic" style="width:10%"></select>
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCategory.FCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUser.FUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
