@model prjWebsiteB.AttractionViewModels.TAttraction

@{
    ViewData["Title"] = "Details";
}

<h1>詳細資訊</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FAttractionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FAttractionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FOpeningTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FOpeningTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FClosingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FClosingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FWebsiteUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FWebsiteUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FRegion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FRegion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FCreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FCreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FUpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FUpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FTrafficInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FTrafficInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FCategoryId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.categoryName
        </dd>
        <dt class="col-sm-2">
            <label for="FImage" class="control-label"></label>
        </dt>
    </dl>
</div>

<partial name="~/Views/TAttractionImages/_ShowImagePartial.cshtml" model="@Model" />

bootstrap Modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    開啟表單
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">表單標題</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <button id="btnDefaultData" class="btn btn-success">填入預設資料</button>
            <form id="modalForm" action="/submit" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">名稱</label>
                        <input type="text" class="form-control" id="nameInput" name="name" required value="@Model.FAttractionName">
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">電子郵件</label>
                        <input type="email" class="form-control" id="emailInput" name="email" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.FAttractionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>