@model prjWebsiteB.Models.TEvent

@{
    ViewData["Title"] = "活動詳細資訊";
}

<h1>@Model.FEventName</h1>

<div>
    <h4>活動描述</h4>
    <p>@Model.FEventDescription</p>
    <dl class="row">
        <dt class="col-sm-2">開始日期</dt>
        <dd class="col-sm-10">@Model.FEventStartDate</dd>
        <dt class="col-sm-2">結束日期</dt>
        <dd class="col-sm-10">@Model.FEventEndDate</dd>
        <dt class="col-sm-2">活動地點</dt>
        <dd class="col-sm-10">@Model.FEventLocation</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.FEventId" class="btn btn-primary">編輯</a>
    <a asp-action="Index" class="btn btn-secondary">返回</a>
</div>
