@model prjWebsiteB.Models.TUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserRankId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserRankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserImage)
        </dt>
        <dd class = "col-sm-10">
            <partial name="_ShowUserImage" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserNickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserNickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserComeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserComeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserNotify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserNotify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUserOnLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUserOnLine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
