@model IEnumerable<TUser>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">會員管理</h1>
<div class="m-5 ">
<p>
        <a asp-action="Create" class=" btn btn-outline-dark" >新增會員</a>
</p>
    <form method="get" action="@Url.Action("Index")">
        <div class="form-group">
            <label for="FUserRankId">選擇用戶等級：</label>
            <select id="FUserRankId" name="FUserRankId" class="w-25 p-1">
                <option value="">所有等級</option>
                <option value="1">一般用戶</option>
                <option value="2">幽靈用戶</option>
                <option value="99">管理員</option>
            </select>
            <button type="submit" class="btn btn-dark">篩選</button>
        </div>
    </form>

    <table class="table table-responsive table-hover" id="userTable" style="height:600px">
    <thead>
        <tr>
            <th></th>
                <th>
                @Html.DisplayNameFor(model => model.FUserRankId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserNickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserComeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserPassword)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.FUserId" class=" btn btn-dark m-1">修改</a>
                        <a asp-action="Details" asp-route-id="@item.FUserId" class=" btn btn-dark m-1">詳細</a>

                        <form method="post" action="@Url.Action("UpdateUserRank")">
                            <input type="hidden" name="userId" value="@item" />
                            <button type="submit" class=" btn btn-light m-1">設為幽靈用戶</button>
                        </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserRankId)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.FUserImage) *@
                    <partial name="_ShowUserImage" model="@item"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserNickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserBirthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserComeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserPassword)
                </td>
            </tr>
        }
    </tbody>
</table>
</div>


@section Scripts {
    @* <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script> *@
    <script src="~/freezeheader/jquery.freezeheader.min.js" asp-append-version="true"></script>
    @* <script src="~/freezeheader/jquery.freezeheader.js" asp-append-version="true"></script> *@
    <script>

        // $(document).ready(function(){
        //     $("#userTable").freezeHeader(
        //         {
        //             "width":"100%",
        //             "height":"100%",
        //         }
        //     );
        // });


    </script>
}